<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.juvetic.calcio">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.playerdetail.PlayerDetailActivity"
            android:parentActivityName=".ui.teamdetail.TeamDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.teamdetail.TeamDetailActivity" />
        </activity>
        <activity
            android:name=".ui.teamdetail.TeamDetailActivity"
            android:parentActivityName=".ui.leaguedetail.LeagueDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.leaguedetail.LeagueDetailActivity" />
        </activity>
        <activity
            android:name=".ui.eventdetail.EventDetailActivity"
            android:parentActivityName=".ui.leaguedetail.LeagueDetailActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.leaguedetail.LeagueDetailActivity" />
        </activity>
        <activity
            android:name=".ui.leaguedetail.LeagueDetailActivity"
            android:label="@string/league_detail_label"
            android:parentActivityName=".ui.leaguelist.LeagueListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.leaguelist.LeagueListActivity" />
        </activity>
        <activity
            android:name=".ui.leaguelist.LeagueListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>